@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide breadcrumb over top heading */
.nextra-breadcrumb {
  display: none !important;
}

/* Remove top heading margin */
main > h1:first-of-type {
  margin-top: 0 !important;
}

/* Keyboard styles from Tailwind Typography */
kbd {
  font-weight: 500;
  font-family: monospace;
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding: 0.1875em 0.375em;
}
kbd:not(.dark kbd) {
  color: #171717;
  box-shadow: 0 0 0 1px rgba(15, 23, 42, 0.1), 0 3px 0 rgba(15, 23, 42, 0.1);
}
.dark kbd {
  color: #fff;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 3px 0 rgba(255, 255, 255, 0.1);
}

/* Push sidebar content down on desktop */
@media (min-width: 768px) {
  .nextra-sidebar-container {
    margin-top: 0.75rem !important;
  }
}
